name: scan-vulnerabilities
on:
  workflow_dispatch:
jobs:
  scan-security:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        image: ['mahoneko/nextcloud:latest', 'mahoneko/postfix:latest', 'mahoneko/dovecot:latest']  
    steps:
      - name: Nextcloud
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ matrix.image }}
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
